<div style="text-align: center;">

<h1 class="app-title">To Do</h1>
</div>
<div class="container">
  <h2>Add a task</h2>
  <input type=" text" class="input-text"
  placeholder= "Type a task"
  [(ngModel)]="todoValue"
  (keyup.enter)="addItem()"
  />
  <button class="btn btn-primary ml-3" (click)="addItem()">Add</button>
  <div>
    <ul style="list-style-type: none;">
      <li *ngFor="let item of list">
        <input type="checkbox" class="isDone"
        [(ngModel)]="item.isDone">
        {{item.value}}
        <button class="btn btn-danger btn-sm" (click)="deleteItem(item.id)">Delete</button>
      </li>
    </ul>
  </div>
</div>